header {
  align-items: center;
  background: var(--primary-color);
  color: var(--light-font);
  display: flex;
  font-size: 12px;
  padding: 10px 5px;
}

.logo {
  border-radius: 50%;
  height: auto;
  width: 40px;
  margin-right: 15px
}

.headline {
  margin: 0;
  letter-spacing: 2px;
}
